.layout-main-container {
  display: flex;
  justify-content: center;
  min-height: 50vh;
}
.layout-inner-container {
  width: 85%;
  margin-top: 20px;
  color: #475569;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
  min-height: 50vh;
  margin-bottom: 15px;
}
